      <div class="col-md-12 breadcrumb ">
        <table class="">
          <form>
            <div class="form-group col-md-6">
              <label for= "nom">Nom : </label>
              <input type="text" name="nom" class="form-control" [(ngModel)]="nom">         
            </div>
            <div class="form-group col-md-6">
              <label for= "prenom">Prénom : </label>
              <input type="text" name="prenom" class="form-control" [(ngModel)]="prenom">         
            </div>
            <div class="form-group col-md-6">
              <label for= "tel">Téléphone : </label>
              <input type="number" name="tel" class="form-control" [(ngModel)]="tel">         
            </div>
            <div class="form-group col-md-6">
              <label for= "email">Email : </label>
              <input type="email" name="email" class="form-control" [(ngModel)]="email">         
            </div>
            <button class="btn btn-success" 
            (click) = "AjouterClient(nom, prenom, tel, email )">Enregitrer</button>
          </form>
        </table>
      </div> 