<div class="col-md-12 ">
  <h4>Liste des Contacts</h4>
  <table class="table table-bordered" *ngFor="let client of clients let i=index"  (click) = "voirClientDetails(client, i)">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">N° Téléphone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{client.id}}</td>
        <td>{{client.nom}}</td>
        <td>{{client.prenom}}</td>
        <td>{{client.tel}}</td>
        <td>{{client.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
