<div class="row"  >
  <div class="col-md-6" *ngIf="afficher">
    <h4>Modification les détails Client :</h4>
    <h4>Les Détails du Client</h4>
      <p><b>Nom : </b>{{client.nom}}</p>
      <p><b>Prénom : </b>{{client.prenom}}</p>
      <p><b>Téléphone : </b>{{client.tel}}</p>
      <p><b>Email : </b>{{client.email}}</p>
  </div>
  <br>
  <div class="formulaire-client" *ngIf="!afficher" >
    <h6>Formulaire de modification de détails client :</h6>
    <form class="form">
      <div class="form-group">
        <label for="nom">nom : </label>
        <input type="text" name="nom" class="form-control" [(ngModel)]="client.nom" >
      </div>
      <div class="form-group">
        <label for="prenom">prénom : </label>
        <input type="text" name="prenom" class="form-control" [(ngModel)]="client.prenom" >
      </div>
      <div class="form-group">
        <label for="telephone">téléphone : </label>
        <input type="text" name="telephone" class="form-control" [(ngModel)]="client.tel" >
      </div>
      <div class="form-group">
        <label for="mail">email : </label>
        <input type="text" name="mail" class="form-control" [(ngModel)]="client.email" >
      </div>
    </form>
  </div>
  <button (click)= "cliquerBouton()" type="button" name="button">{{bouton}}</button>
</div>
