<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
            <h2>Répertoire Clients</h2>
       <nav class="nav">
            <a class="nav-link active" routerLink="accueil" routerLinkActive="active">Accueil </a>
          <a class="nav-link" routerLink="/ajout-client" routerLinkActive="active"> Ajout client</a>
       </nav>
       <br>
       <router-outlet></router-outlet>
      <br>
    </div>
  </div>
</div>
